<link rel="stylesheet" href="/Template/style.css">

<header class="header-container">
    <div class="header-content">
        <a href="/"><img src="/Assest/sk-cu.png" alt="Logo" class="header-logo"></a>
        
        <div class="header-text">
            <h1>SkIntania — <span id="dynamic-title"></span></h1>
            <p class="lead" id="dynamic-desc"></p>
        </div>
    </div>

    <div class="header-credits">
        <div>จัดทำโดย</div>
        <small>GSC15 OSK143</small><br>
        <small>IG : gsc15_sk143</small>
    </div>
</header>
<br>

<nav class="navbar">
    <ul>
        <li><a href="/">หน้าแรก</a></li>
        <li><a href="/">คอร์สเรียน</a></li>
        <li><a href="/">สื่อการเรียน</a></li>
        <li><a href="/Calculator/">คำนวณระยะแห่งความฝัน</a></li>
        <li><a href="/">คำแนะนำรายวิชา</a></li>
        <li><a href="/">กิจกรรม</a></li>
        <li><a href="/Event/">ลงทะเบียนพบปะ</a></li>
        <li><a href="/">เกี่ยวกับเรา</a></li>
    </ul>
</nav>