body {
    font-family: sans-serif;
    background: #0f0f0f;
    color: white;
    text-align: center;
}

.title {
    margin: 40px;
    font-size: 40px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 50px;
    padding: 50px;
}

.card {
    background: #1c1c1c;
    padding: 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
    background: #2a2a2a;
}


.pink {
  background: linear-gradient(45deg, #f170ff 0%, #ff53a9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.1));
}

.blue {
  background: linear-gradient(45deg, #5ee7df 0%, #3d7bff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.1));
}

.file-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 50px;
    padding: 10px;
    background: linear-gradient(90deg, #525252 0%, #303030 100%);
    border-radius: 25px;
}

.fileP {
    background: linear-gradient(90deg, #f170ff 0%, #ff5ce4 100%);
    padding: 0px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    height: 50px;
}

.fileB {
    background: linear-gradient(90deg, #57b6ff 0%, #3d7bff 100%);
    padding: 0px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    height: 50px;
}